h1 {
  color: #399967;
  font-family: "Montserrat", arial;
}

h2 {
    color: #e3815f;
    font-family: "Montserrat", arial;
    padding-bottom: 0em;
    margin: -17px 0em;
    font-size: 32px; }

h3 {
  color: white;
  background-color: #e3815f;
  font-family: "Montserrat", arial;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin: 28px 15px;
  padding: 5px;
  margin-top: 2em;
}

header.header_second {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;;
}

