@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat-Regular.ttf")
}

/* Grille du container du composant */

.Filtres_container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 3;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%
}

/* //////////// */

/* Grid First Row */

/* Objet */

.Filtres_Objets-title {
    grid-column-start: 1;
    /* grid-column-end: 2; */
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: lightgrey;
    border-radius: 1%;
    display: flex;
}

.Filtres_Objets-title p {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.Filtres_Objets-title img {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

/* Besoins */

.Filtres_Besoins-title {
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: lightgrey;
    ;
    display: flex;
}

.Filtres_Besoins-title p {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.Filtres_Besoins-title img {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.Filtres_searchEngine {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.Filtres_container button {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: green;
    color: white;
}

/* Grid Second Row */

.Filtres_selectFilters {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
}

.Filtres_selectFilters div {
    border: solid 2px grey;
    border-radius: 10%;
    display: flex;
    margin-right: 10px;
}

.Filtres_selectFilters img {
    width: 16px;
    height: 16px;
    margin: auto;
    margin-right: 10px;
}

.Filtres_selectFilters p {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px
}

/* Grid Third Row */

/* Filtre Objets */

.Filtres-frame-objet {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    border: solid 2px grey;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    box-shadow: 5px 5px 1px grey;
    max-height: 500px;
    transition: ease 1.25s;
    overflow-x: hidden;
    z-index: 100;
}

.Filtres-frame-objet2 {
    max-height: 0px;
    height: auto;
}

/* Filtre Besoin */

.Filtres_frame-besoins {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    border: solid 2px grey;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    box-shadow: 5px 5px 1px grey;
    max-height: 500px;
    transition: ease 1.25s;
    overflow-x: hidden;
    z-index: 100;
}

.Filtres_frame-besoins2 {
    max-height: 0px;
    height: auto;
}

.Filtres_container ul {
    list-style: none;
    padding: 0px;
}

.Filtres_container hr {
    width: 95%;
    color: black;
    border: 1px solid grey;
    margin-top: -15px
}

.Filtres_sousCat {
    font-size: 2vw;
    font-style: 'Montserrat';
    font-weight: bold;
    text-align: center;
}

.Filtres_CatInterFont {
    font-size: 1.5vw;
    font-weight: bold;
}

.Filtres_BesoinsFont {
    font-size: 1.5vw;
    font-style: 'Montserrat';
    font-weight: bold;
    margin-top: 10px;
}

/* Grille du container du composant */

.Filtres_container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 3;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

/* //////////// */

.Filtres_BesoinsColumns {
    justify-self: start;
    margin-left: 15%
}

.Filtres_eachCatIntermediaires {
    font-size: 1vw;
    ;
    text-align: center;
    justify-self: center;
    /* border: solid 2px yellow; */
}

.Filtres_allCatIntermediaires {
    /* border: outset 2px red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.filtres_objets {
    font-size: 1vw;
    ;
    text-align: left;
}

/* ///////////////// MEDIA QUERY //////////////// */

/* Mobile */

@media screen and (max-width: 770px) {
    /* Grille du container du composant */
    .Filtres_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0em 3em 3em auto;
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }
    /* //////////// */
    /* Grid First Row */
    /* Search Engine */
    .Filtres_searchEngine {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    /* Button */
    .Filtres_container button {
        grid-column-start: 4;
        grid-column-end: 7;
    }
    /* Grid Second Row */
    /* Objet */
    .Filtres_Objets-title {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    /* Besoins */
    .Filtres_Besoins-title {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    /* Grid Third Row */
    .Filtres_selectFilters {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    /* Grid Fourth Row */
    /* Filtre Objets */
    .Filtres-frame-objet {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 4;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .Filtres_allCatIntermediaires {
        /* border: outset 2px red; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    /* Filtre Besoin */
    .Filtres_frame-besoins {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 4;
        grid-template-columns: 1fr;
    }
    .Filtres_sousCat {
        font-size: 23px;
    }
    .Filtres_CatInterFont {
        font-size: 20px;
    }
    .Filtres_BesoinsFont {
        font-size: 20px;
    }
    .filtres_objets {
        font-size: 20px;
        ;
        text-align: left;
        line-height: 1em;
    }
    .Filtres_eachCatIntermediaires {
        font-size: 1vw;
        ;
        text-align: left;
        justify-self: left;
        margin-left: 10%
        /* border: solid 2px yellow; */
    }
    .Filtres_BesoinsColumns {
        justify-self: start;
        margin-left: 10%
    }
    .Filtres_selectFilters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    .Filtres_selectFilters div {
        margin: auto;
        display: flex;
    }
}