
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 15%;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-sidebar{
    list-style-type: none;
}

.rond{
    background-color: #39967e;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}
/*css pour faire le rond rouge*/
.rond-red{
    background-color: #96394d;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}
/*css pour faire le rond rouge*/
.rond-orange{
    background-color: #fd7e14;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}
.navbar-item{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
   
    
}

.navbar-link{
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
.navbar-sidebar{
    display: flex;
    flex-direction: column;
    
}

.navbar-logo{
    align-self: flex-end;
}

.navbar-btn-green{
    background-color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 10px;
   
}

