@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat-Regular.ttf")
}

.ArticlesItem {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
  margin-bottom: 7rem;
  margin-top: 2rem;
  max-width: 400px;
}

.ArticlesItem:hover, .ArticlesItem:focus {
  transform: scale(1.05);
  transition: 0.3s;
}

.ArticlesItem-Info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
  padding: 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #399967;
}

.ArticlesItem-Info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.ArticlesItem:hover .ArticlesItem-Info, .ArticlesItem:hover:active .ArticlesItem-Info {
  border-bottom: 1px solid #e3815f;
}

.ArticlesItem-Date, .ArticlesItem-Time {
  margin-bottom: 0.7rem;
  font-family: "Montserrat-regular", sans-serif;
}

.ArticlesItem-Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ArticlesItem-TitleContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 0.5rem;
}

.ArticlesItem-Title {
  color: black;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ArticlesItem:active .ArticlesItem-Title, .ArticlesItem:hover .ArticlesItem-Title {
  overflow: auto;
  text-overflow: unset;
  white-space: unset;
}

.ArticlesItem-Title::first-letter {
  font-weight: bold;
  font-size: 1.5rem;
}

.ArticlesItem-Picto {
  height: 17px;
  filter: invert(0);
  margin-right: 0.5rem;
}