.DisplayArticles-Container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.DisplayArticles-Gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}



