.navbar {
  width: 20%;
  margin-left: 2%;
}
.navbar-sidebar {
  list-style-type: none;
}
/*css pour les ronds verts*/
.navbar-rond {
  background-color: #39967e;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 3px;
}
/*css pour le rond rouge*/
.navbar-rond-red {
  background-color: #e3815f;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 13px;
}
/*css pour le rond orange*/
.navbar-rond-orange {
  background-color: #fd7e14;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 3px;
}
.navbar-item {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.navbar-link {
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  width: 167px;
  height: 37px;
  text-align: right;
}
.navbar-sidebar {
  display: flex;
  flex-direction: column;
  width: 147.75px;
}
.navbar-envelope{
  margin-left: -60px;
}

.navbar-button {
  background-color: #399967;
  width: 200px;
  height: 100px;
  text-align: center;
  margin-left: 10px;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: white;
}
.navbar-line {
  color: #000000;
  width: 110px;
  margin-top: 8px;
  margin-bottom: 7px;}

.navbar-link-pros {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  width: 167px;
  height: 37px;
  text-align: right;
}

.navbar-logo{
  margin-left: 50px;
}

@media screen and (max-width: 770px){
  div.navbar {
    display: none;
  }
} 