/* CSS pour la component "displayEngagementsAdminAdmin */
.displayEngagementsAdmin_page {
	font-family: 'Open Sans';
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* CSS pour "Jeconsulte mes articles" */
.title {
	text-align: center;
	font-family: 'Open Sans';
	font-size: 1em;
	margin: 2vw;
    font-weight: bold;
    width: 100vw;
}

/* CSS encadrer générale*/
.displayEngagementsAdmin_frame{
    border : solid grey 1px;
    width: 80vw;

}

/* CSS en-tête*/
.displayEngagementsAdmin_header {
    display: flex;
    align-items: center;
    align-content: stretch;
    border-bottom: solid 1px grey;
    padding: 0px;
    justify-content: space-between;
    padding-left:2.5vh;
    background-color:#F6F1EB;
    text-align: center;
    height: 6vh;
    font-family: 'Open Sans';
    font-weight:bold ;


}

/* CSS les textes de l'encadrer*/
.displayEngagementsAdmin_header p{
margin: 0px;

}

/* CSS bloc des articles*/
.displayEngagementsAdmin_items {
    list-style: none;
    /* border: 8px solid grey; */
    padding-left: 0%;
    margin: 3vh 3.5vw auto;
    font-family: 'Open Sans'
}

.displayEngagementsAdmin_content{
    height: 40vh;
    overflow: scroll;
}


/* CSS chaque article*/
.displayEngagementsAdmin_items li {
    border: grey solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
    margin-top: 0.5vh;
    box-shadow: 2px 0px 3px gray;

}

/* CSS titre article*/
.displayEngagementsAdmin_title{
width: 80vw;
}

/* CSS voyant/publication*/
.publication-off,
.publication-on {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 6px;
}

.publication-on {
    background:green;
}

.publication-off {
    background: #f4511e;
}