/* CSS pour la component "displayEngagementAdminAdmin */
.displayEngagementAdmin_page{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CSS pour "Jeconsulte les engagements" */
.title{
    text-align: center;
    font-family: 'Open Sans';
}

/* CSS encadrer générale*/
.displayEngagementAdmin_frame{
    border : solid grey 1px;
    margin-left: 8vh;
    margin-right: 8vh;
    width: 80vw;
}

/* CSS en-tête*/
.displayEngagementAdmin_header {
    display: flex;
    align-items: center;
    align-content: stretch;
    border-bottom: solid 1px grey;
    padding: 0px;
    justify-content: space-between;
    padding-right: 2.5vh;
    padding-left:2.5vh;
    background-color:#F6F1EB;
    text-align: center;
    height: 6vh;
    font-family: 'Open Sans';
    font-weight:bold ;

}

/* CSS les textes de l'encadrer*/
.displayEngagementAdmin_header p{
margin: 0px;

}

/* CSS bloc des articles*/
.displayEngagementAdmin_items{
    list-style: none;
    /* border: 8px solid grey; */
    padding-left: 0%;
    margin: 1vh 2vh;
    font-family: 'Open Sans'
}

.displayEngagementAdmin_content{
    overflow: scroll;
    min-height: auto;
    max-height: 60vh;
    overflow: scroll;
}


/* CSS chaque article*/
.displayEngagementAdmin_items li{
    border: grey solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:2vh;
    padding-left: 1vh;
    margin-top: 0.5vh;
    box-shadow: 2px 0px 3px gray;

}

/* CSS voyant/publication*/
.publication-off,
.publication-on {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 6px;
}

.publication-on {
    background:green;
}

.publication-off {
    background: #f4511e;
}