/* CSS pour "Jeconsulte mes articles" */
.title{
    text-align: center;
}

/* CSS encadrer générale*/
.displayArticle_frame{
    border : solid black 2px;
    margin-left: 7%;
    margin-right: 7%;
}

/* CSS en-tête*/
.displayArticle_header {
    display: flex;
    align-items: center;
    align-content: stretch;
    border-bottom: solid 2px black;
    padding: 0px;
    justify-content: space-between;
    padding-right: 4vh;
    padding-left:4vh;
    background-color: gray;
    text-align: center;
    height: 6vh;

}

/* CSS les textes de l'encadrer*/
.displayArticle_header p{
margin: 0px;

}

/* CSS bloc des acrticles*/
.displayArticle_items{
    list-style: none;
    /* border: 8px solid black; */
    padding-left: 0%;
    margin: 2%;
}

.displayArticle_content{
    /* border: 5px solid red; */
}

/* CSS chaque article*/
.displayArticle_items li{
    border: grey solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:6%;
    padding-left: 1%;
    margin-top: 0.5%;

}

/* CSS voyant/publication*/

.publication-off,
.publication-on {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 6px;
}

.publication-on {
    background:green;
}

.publication-off {
    background: #f4511e;
}