

/* titres principaux */
.mainTitle{
    text-align: center;
}

.mainTitle h1{
    color: #399967;
    font-family: "Montserrat", arial;
    font-weight: bold;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.mainTitle h2{
    color: #e3815f;
  font-family: "Montserrat", arial;
  padding-bottom: 0em;
  margin: 0 0em 17px;
  font-size: 32px;
  font-weight: bold;
}

/* titre orange */
.orangeTitle{
  color: white;
  background-color: #e3815f;
  font-family: "Montserrat", arial;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  padding: 5px;
  margin-top: 37px;
  margin-left: 10%;
  margin-right: 10%;
}